.header li {
  list-style: none;
  display: inline;
  padding: 2em;
  margin: 2em;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em;
}

.main {
  width: 80%;
}

.sidebar {
  width: 15%;
  padding-top: 4em;
}

.clickers {
  display: flex;
  flex-direction: column;
}

button {
  position:relative;
  margin: 1em;
}
