*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex: 1;
  min-height: 100vh;
  flex-direction: row;
  font-family: 'Prociono', serif;
  font-size: 1.5vw;
  line-height: 2;
}

header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

img {
  width: 20%;
  border-bottom: 2px solid gray;
}

footer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

a {
  outline: none;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2em;
  font-size: 1em;
}

.nav li {
  list-style: none;
  display: inline;
  padding: 5em;
  margin: 2em;
  font-weight: bold;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em;
}


.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
}


.body {
  width: 80%;
}

.sidebar {
  width: 15%;
  /*padding-top: 4em;*/
}

.search {
  display: flex;
  flex-direction: column;
}

button {
  position:relative;
  /*margin: 1em;*/
}
